<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Member</title>
      <style>
    h2 {
      color: #5E5DF0;
    }
  </style>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/styles.css' %}">
</head>
<body>

<div class="form-container">
     <a href="/home">
        <img src="{% static 'home/images/image.png'%}" alt="ISCTEFLOW" width="400" height="100">
        </a>
  <h2>Add Member to {{ group.group_name }}</h2>

  <form action="{% url 'home:add_group_member' group_id=group_id %}" method="post">
  {% csrf_token %}

  <label for="new_group_member">New Member Username:</label><br>
  <input type="text" id="new_group_member" name="new_group_member" required>
  <br><br>

  <button class="button-34" type="submit">Submit</button>
</form>
</div>
<br>
    <button class="button-34" onclick="window.location.href='{% url 'home:group_detail' group_id %}'">Cancel</button>
</body>
</html>