<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Member</title>
</head>
<body>

<div class="form-container">
  <h2>Remove Member From {{ group.group_name }}</h2>

  <form action="{% url 'home:delete_member' group_id=group_id %}" method="post">
  {% csrf_token %}

  <label for="group_member">Member Username to Delete:</label><br>
  <input type="text" id="group_member" name="group_member" required>
  <br><br>

  <button type="submit">Submit</button>
</form>
</div>
    <button onclick="window.location.href='{% url 'home:group_detail' group_id %}'">Cancel</button>
</body>
</html>