<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group detail</title>
</head>
<body>
    <h1>ISCTFlow</h1>

    <h2>Group details</h2>

    <h3>{{ group.group_name }}</h3>
    <br>
     <button onclick="window.location.href='{% url 'home:new_group_post'  group.id %}'">New Group Post</button>
    <br>
    <h3>Admin : {{ group.admin }} </h3>

    <br>
    <h3>Members:</h3>
    <ul>
        {% for member in group.members.all %}
            <li>{{ member.username }}</li>
        <br>
        {% empty %}
            <li>Your group has no members.</li>
        {% endfor %}
        {% for grouppost in latest_post_list %}
   <li>
       <h2> {{ grouppost.post.post_title }} </h2>
       <a>{{ grouppost.post.post_content }} </a>
        {% endfor %}
    </ul>
    <button onclick="window.location.href='{% url 'home:add_group_member' group.id %}'">Add New Group Member</button>
    <br>
    <button onclick="window.location.href='{% url 'home:delete_member' group.id %}'">Remove Group Member</button>
    <br>
    <button onclick="window.location.href='{% url 'home:delete_group' group.id %}'">Delete Group</button>
    <button onclick="window.location.href='{% url 'home:my_groups' %}'">Back</button>

</body>
</html>
</body>
</html>