<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>ISCTEFlow</h1>

    {% if user.is_authenticated %}
    <section class="user-info">
            Bem-vindo(a),     <a href="{% url 'home:perfil' %}">{{ user.username }}</a>!
        <a href="{% url 'home:logout' %}">Logout</a>
    </section>
{% else %}
    <button onclick="window.location.href='{% url 'home:login' %}'">Login</button>
    <button onclick="window.location.href='{% url 'home:registration' %}'">Register</button>
{% endif %}
</body>
</html>