<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
      <style>
    h1,h2 {
      color: #5E5DF0;
    }
  </style>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/styles.css' %}">
</head>
<body>
     <a href="/home">
        <img src="{% static 'home/images/image.png'%}" alt="ISCTEFLOW" width="400" height="100">
        </a>

    <h2>Groups you belong to : </h2>

    <ul>
        {% for group in groups %}
            <li><a href="{% url 'home:group_detail' group.id %}">{{ group.group_name }}</a></li>
        {% empty %}
            <li>You don't belong to any group.</li>
        {% endfor %}
    </ul>

    <button class="button-34" onclick="window.location.href='{% url 'home:index' %}'">Back</button>
    <button class="button-34" onclick="window.location.href='{% url 'home:create_group' %}'">Create Group</button>
</body>
</html>