<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>

<div class="form-container">
  <h2>Create Post</h2>

  <form action="{% url 'home:new_post' %}" method="post">
  {% csrf_token %}
  <label for="new_post">New Post:</label><br>
  <textarea id="new_post" name="new_post" rows="4" cols="50" placeholder="Write your post here..."></textarea>
  <br><br>

  <label for="topic">Topic:</label>
      <select id="topic" name="topic">
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="html">HTML</option>
        <option value="other">Other</option>
      </select>

  <br><br>

  <button type="submit">Submit</button>
</form>
</div>
    <button onclick="window.location.href='{% url 'home:index' %}'">Cancel</button>
</body>
</html>